In [12]:
import numpy as np 
import pandas as pd 
import random

In [9]:
dic = {
    'years': np.arange(1900, 2020, 1)
}

In [26]:
def random_count(x):
    x = True
    if x:
        return random.randint(1,40)
    else:
        return np.nan

In [10]:
yeardf = pd.DataFrame(dic)

In [27]:
yeardf['Counts'] = yeardf['years'].apply(random_count)

In [28]:
yeardf

     years  Counts
0     1900      31
1     1901      15
2     1902      37
3     1903      14
4     1904      38
..     ...     ...
115   2015      29
116   2016       6
117   2017      34
118   2018      30
119   2019      33

[120 rows x 2 columns]