In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('Lagos Rent Cleaned.csv')
data

     Location                  Type  Rooms    Price
0       Lekki  semi-detached duplex      6  5000000
1       Lekki       terraced duplex      3  2500000
2     Gbagada       terraced duplex      4  4000000
3       Lekki       detached duplex      4  4600000
4       Lekki       detached duplex      4  3000000
...       ...                   ...    ...      ...
2021    Lekki        flat apartment      4  3200000
2022    Lekki       terraced duplex      4  3000000
2023       VI  semi-detached duplex      4  4500000
2024    Lekki       terraced duplex      4  3000000
2025    Lekki  semi-detached duplex      4  4000000

[2026 rows x 4 columns]

In [3]:
X = data.iloc[:, : -1].values 
y = data.iloc[:, -1].values

In [4]:
X

array([['Lekki', 'semi-detached duplex', 6],
       ['Lekki', 'terraced duplex', 3],
       ['Gbagada', 'terraced duplex', 4],
       ...,
       ['VI', 'semi-detached duplex', 4],
       ['Lekki', 'terraced duplex', 4],
       ['Lekki', 'semi-detached duplex', 4]], dtype=object)

In [5]:
y

array([5000000, 2500000, 4000000, ..., 4500000, 3000000, 4000000],
      dtype=int64)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder 
ct = ColumnTransformer(transformer =([OneHoteEncoder]))