In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Lagos Rent Amount.csv')
data

      Unnamed: 0                  Type Rooms Location    Price
0              0  semi-detached duplex     6    Lekki  5000000
1              1       terraced duplex     3    Lekki  2500000
2              2       terraced duplex     4  Gbagada  4000000
3              3       detached duplex     4    Lekki  4600000
4              4       detached duplex     4    Lekki  3000000
...          ...                   ...   ...      ...      ...
2053        2053             house for     4    Lekki  3200000
2054        2054       terraced duplex     4    Lekki  3000000
2055        2055  semi-detached duplex     4     (VI)  4500000
2056        2056       terraced duplex     4    Lekki  3000000
2057        2057  semi-detached duplex     4    Lekki  4000000

[2058 rows x 5 columns]

In [3]:
data.drop(columns='Unnamed: 0', inplace=True)

In [4]:
data[data['Type']=='house for']

           Type Rooms Location    Price
13    house for     3    Lekki  2200000
24    house for     4     (VI)  5000000
25    house for     3    Lekki  2800000
42    house for     4    Lekki  4000000
52    house for     3    Lekki  4000000
...         ...   ...      ...      ...
2017  house for     3    Lekki  1000000
2020  house for     2     Ajah   500000
2021  house for     4    Lekki  4000000
2036  house for     4     Ajah  1700000
2053  house for     4    Lekki  3200000

[224 rows x 4 columns]

In [5]:
def typecorr(x):
    if x == 'house for':
        return 'flat apartment'
    else:
        return x

In [6]:
data['Type'] = data['Type'].apply(typecorr)

In [7]:
def loc(x):
    if x == '(VI)':
        return 'VI'
    else:
        return x

In [8]:
data['Location'] = data['Location'].apply(loc)

In [9]:
data[data['Price'] == 'Call for Price']

                      Type Rooms Location           Price
687   semi-detached duplex     4    Ikoyi  Call for Price
1106       terraced duplex     4    Ikoyi  Call for Price

In [10]:
data.drop(index=[171, 425, 687, 1106, 1550, 1552, 1618, 1920, 2002], inplace=True)

In [11]:
data['Rooms'].unique()

array(['6', '3', '4', '5', '2', '7', 'Detached', 'Semi-detached', '1',
       '9', '7000000', '8', '400000000', '16', 'Terraced', '45', '15',
       'Block'], dtype=object)

In [12]:
val = data[data['Rooms'].str.contains('Detached') | data['Rooms'].str.contains('Semi-detached') | data['Rooms'].str.contains('7000000') | data['Rooms'].str.contains('400000000') | data['Rooms'].str.contains('Terraced') | data['Rooms'].str.contains('Block')]

In [13]:
data.drop(index=val.index, inplace=True)

In [14]:
for ran, i in enumerate(data.columns):
    if ran % 2 == 1:
        data[i] = data[i].astype('int64')

In [15]:
cols = ['Location', 'Type', 'Rooms', 'Price']
data = data[cols]

In [18]:
data.to_csv('Lagos Rent Cleaned.csv', index = False)